<% title "Menus" %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
  </tr>
  <% for menu in @menus %>
    <tr>
      <td><%= menu.name %></td>
      <td><%= menu.price %></td>
      <td><%= menu.category %></td>
      <td><%= link_to "Show", menu %></td>
      <td><%= link_to "Edit", edit_menu_path(menu) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Menu", new_menu_path %></p>
