- title "Menu"
%p
  %strong Name:
  = @menu.name
%p
  %strong Price:
  = @menu.price
%p
  %strong Category:
  = @menu.category
%p
  = link_to "Edit", edit_menu_path(@menu)
  |
  \#{link_to "View All", menus_path}
