<% title "Menu" %>

<p>
  <strong>Name:</strong>
  <%= @menu.name %>
</p>
<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>
<p>
  <strong>Category:</strong>
  <%= @menu.category %>
</p>

<p>
  <%= link_to "Edit", edit_menu_path(@menu) %> |
  <%= link_to "View All", menus_path %>
</p>
