= javascript_include_tag "jquery.printPage.js"

- title "Bills No #{@bill.id}"
%p
  %strong Name:
  = @bill.name || "------------"
%br/
%p
  %strong Items Ordered:
  %table
    %tr
      %th Item
      %th Quantity
      %th Unit Price
    - @bill.bill_contents.each do |bill_content|
      - if bill_content.quantity.to_i != 0
        %tr
          %td=bill_content.menu.name
          %td=bill_content.quantity
          %td=bill_content.menu.price
%br/
%p
  %strong Total:
  = @bill.total
%br/
%p
  = link_to "Print", bill_print_path(@bill.id), :class => "btnPrint"
%p
  = link_to "Edit", edit_bill_path(@bill)
  |
  \#{link_to "Destroy", @bill, :confirm => 'Are you sure?', :method => :delete} |
  \#{link_to "View All", bills_path}

:javascript
  $(document).ready(function() {
    $(".btnPrint").printPage();
  });

