<%= form_for @ration do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :last_finished_on %><br />
    <%= f.datetime_select :last_finished_on %>
  </p>
  <p>
    <%= f.label :last_purchased_on %><br />
    <%= f.datetime_select :last_purchased_on %>
  </p>
  <p><%= f.submit %></p>
<% end %>
