<% title "Rations" %>

<table>
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Units</th>
    <th>Description</th>
    <th>Last Finished On</th>
    <th>Last Purchased On</th>
  </tr>
  <% for ration in @rations %>
    <tr>
      <td><%= ration.name %></td>
      <td><%= ration.quantity %></td>
      <td><%= ration.units %></td>
      <td><%= ration.description %></td>
      <td><%= ration.last_finished_on %></td>
      <td><%= ration.last_purchased_on %></td>
      <td><%= link_to "Show", ration %></td>
      <td><%= link_to "Edit", edit_ration_path(ration) %></td>
      <td><%= link_to "Destroy", ration, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Ration", new_ration_path %></p>
